.collection-body {
    position: relative;
    width: 95%;
}

.product-list {
    display: grid;
    gap: 16px;
    overflow-x: auto;
    grid-template-columns: repeat(12, 1fr);
}

.product-list::-webkit-scrollbar {
    display: none;
}

.product-item {
    width: 142px;
    height: 202px;
    object-fit: cover;
}

.slide-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    color: #2874f0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    border-radius: 12px;
    transform: translateY(-50%);
}

.slide-button#prev {
    top: 50%;
    left: 0
}

.slide-button#next {
    top: 50%;
    right: -53px;
}