@media only screen and (max-width: 548px) {
    .carousel-img {
        height: 180px;
    }
}

@media only screen and (min-width: 549px) and (max-width: 967px) {
    .carousel-img {
        height: 280px;
    }
}

@media only screen and (min-width: 968px){
    .carousel-img {
        height: 420px;
    }
}